<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Finance Manager</title>
    <script src="../main.js"></script>
</head>
<body>
        <header>
                <a href="http://localhost:4000/">
                    <div id="svg_header"><%- include ("./svg/transaction.svg") %></div>
                    Finance.com
                </a>
                <div id="box_1">
                    <button id="categories" class="icon">Categories</button>
                    <button id="activity" class="icon">Activity</button>
                    <button id="report" class="icon">Report</button>
                </div>
                    <button id="loginLink" type="submit" class="btn" onclick="window.location.href='http://localhost:4000/login'">Not have account?</button>
            <button id="icon" class="icon">
                <div><%- include ("./svg/dollar.svg") %></div>    
                
            </button>
        </header>
        Username
        
</body>
</html>